{% extends "../mi-plantilla.html" %}

{% block content %}


<!DOCTYPE html>
<html>
    <head>
        <title>Ingresar nuevo software</title> 
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% load static %}
        <link href="{%static 'core/css/bootstrap.min.css'%}" type="text/css" rel="stylesheet">
        <link href="{%static 'core/css/estilos.css'%}" type="text/css" rel="stylesheet"> 
        <link rel="icon" href="{%static 'core/img/PageLogo/favicon.png'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
    </head>
    <body>
      {%load static%}
      <!--CONTENIDO-->
      <div class="container rounded container-xl boxed" style="background-color:rgb(15, 4, 0)">
        <div class="titulo boxed-sm"> 
          <h1 style="font-size: 45px; text-align: left; margin: 20px; text-align: center;"><!--Título del programa--></h1>

          <div class="row" style="margin-left: 5%;">
            <h1>Ingreso de un nuevo Software</h1>
          </div>
          
          <div class="row" style="margin-left: 10%; margin-right: 10%;">
            <form method="POST" action="#" id="formulario">
              {%csrf_token%}

              <div class="row">
                {{software_form.idSoftware.label}}
                {{software_form.idSoftware}}
              </div>

              <div class="row">
                {{software_form.nomSoftware.label}}
                {{software_form.nomSoftware}}
              </div>

              <div class="row">
                {{software_form.descSoftware.label}}
                {{software_form.descSoftware}}
              </div>

              <div class="row">
                {{software_form.catSoftware.label}}
                {{software_form.catSoftware}}
              </div>

              <div class="row">
                <input type="submit" class="btn btn-danger" id="Ingresar" value="Ingresar" 
                style="background-color: rgb(165, 98, 173); border-color: blueviolet; border-radius: 0px; width: 25%;">

                <input type="reset" class="btn btn-danger" id="limpiar" value="Limpiar" 
                style="background-color: rgb(160, 117, 196); border-color: blueviolet; border-radius: 0px; width: 25%;">

                <a href="{%url 'verTodo'%}" class="btn btn-danger" id="Modificar" value="Modificar" style="width: 25%; background-color: rgb(218, 56, 105); border-color: rgb(255, 0, 0); border-radius: 0px;"">
                  Modificar Software
                </a>
              </div>

            </form>
          </div>

        </div>
      </div>
      <!--CONTENIDO-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
  </body>
</html>
{% endblock %}