

.color{
    color: black;
}

body {
    background-image: url('../img/test.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1{
    font-size: 35px;
}

.boxed {
    border: 10px solid rgb(129, 71, 238);
    box-shadow: 0 0 60px #e9a2ff;
  }
.boxed-sm{
    border: 2px solid rgb(129, 71, 238);
    box-shadow: 0 0 8px #dd6cff;
}

.titulo
{
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: fantasy;
  text-shadow: 0 0 15px rgb(68, 0, 255), 0 0 25px rgb(172, 205, 255);
}
.navbar-brand
{
    font-size: 30px;   
    font-family: fantasy;
    text-shadow: 0 0 25px rgb(162, 0, 255), 0 0 15px rgb(68, 0, 255);
}

.nav-link{
    font-size: 25px;
    font-family: fantasy;
    padding-top: 25px;
    text-align: left;
}

.nav-right{
    flex:1 1 200px;
}

.navbar-dark
{
    background: linear-gradient(to right, rgb(0, 0, 0) 30%, rgb(44, 0, 65) 90%);
}

nav .navbar-nav li a{
    color: rgb(223, 219, 255) !important;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    text-shadow: 0 0 45px rgba(178, 69, 192, 0.623), 0 0 25px rgba(165, 84, 202, 0.842);
    color: rgb(114, 104, 255) !important;
}

.container-xl{  
    background: linear-gradient(to bottom, rgb(12, 0, 6) 40%, rgb(65, 16, 97) 90%);
}


p{
    font-family: fantasy;
    letter-spacing: 1.2px;
    font-size: 20px;
    color: rgb(189, 52, 70);
}

.texto-comun{
    font-family: fantasy;
    letter-spacing: 1.2px;
    font-size: 20px;
    color: rgb(189, 52, 70);
}

/* Sobreponer texto cuando esté el mouse*/
.ovl{
    opacity: 0;
    transition: 0.4s;
}

.ovl:hover{
    border: 5px solid rgb(119, 235, 255);
    opacity: 1;
    background: rgba(0, 0, 0, 0.65);
}

.icon-size{
    width : 32px;
    height : 32px;
}

.btn-md {
    padding: 10px 10px;
    font-size: 15px;
}

.btn-xl {
    padding: 15px 70px;
    font-size: 20px;
    border-radius: 10px;
}

.btn-xxl {
    padding: 1px 80px;
    font-size: 25px;
    border-radius: 10px;
}

/*De aquí pabajo es solo footer C:*/
footer{
    background-color: black;
    color: gray;
    width: 100%;
}

.container-footer-all{
    width: 100%;
    max-width: 100%;
    justify-content: center;
}

.container-body{
    display: flex;
}

.columna1{
    width: 100%;
    max-width: 50%;
    margin: 40px;
}
.columna1 p{
    margin-top: 20px;
}

.columna2{
    width: 100%;
    max-width: 25%;
    min-width: 5%;
    margin-top: 40px;
    margin-left: 5%;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row label{
    margin-top: 5px;
    margin-left: 10px;
}